<h2>Por Region</h2>

<hr>

<div class="row">
  <div class="col text-center">
    <!-- search box -->
    <!-- <shared-search-box
      placeholder="Buscar por Region"
      (onDebounce)="searchByRegion($event)"></shared-search-box> -->
      <button *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      [ngClass]="{'btn-outline-primary': selectedRegion === region}"
        class="btn mx-2">
        {{region}}
      </button>

  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <ul>
      <countries-table [countries]="countries"></countries-table>
    </ul>

  </div>
</div>
