<h2>Por Capital</h2>

<hr>
<div class="row">
  <div class="col">
    <!-- search box -->
    <shared-search-box
        placeholder="Buscar por Capital"
        [valueTxt]="initialValue"
        (onDebounce)="searchByCapital($event)">
    </shared-search-box>

  </div>
</div>


<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <ul>
      <countries-table [countries]="countries"></countries-table>
    </ul>

  </div>
</div>
